POSTGRES_HOST=postgres
POSTGRES_DB=stoloto_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=genshin123
POSTGRES_PORT=5432

# FastAPI
APP_PORT=8000
JWT_SECRET=your_super_secret_key_change_me
JWT_ALGORITHM=HS256
